<div class="auth">
  @if (user$ | async; as user) {
    <button class="user-button" type="button" (click)="toggleMenu()" aria-haspopup="menu" [attr.aria-expanded]="menuOpen">
      {{ displayLabel(user) }}
    </button>
    @if (menuOpen) {
      <div class="menu" role="menu">
        <button type="button" routerLink="/profile" role="menuitem" (click)="menuOpen = false">Profile</button>
        <button type="button" (click)="signOut()" role="menuitem">Sign out</button>
      </div>
    }
    @if (showUsernamePrompt) {
      <app-username-prompt (completed)="onUsernameCompleted()" (cancelled)="onUsernameCancelled()"></app-username-prompt>
    }
  } @else {
    <div #googleBtn></div>
  }
</div>
