# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Global
.DS_Store
*.log

# Backend
/backend/target/
/backend/.idea/
/backend/.classpath
/backend/.project

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.angular
/frontend/.env